/*------------------------------------- MAIN BODY----------------------------------------------------------- */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #cacaca;
}

@font-face {
    font-family: "Satoshi";
    src: url('../fonts/Satoshi-Bold.otf') format('opentype');
}

p {
    font-family: "Satoshi";
}

.fade-out {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}

section {
    scroll-margin-top: 80px;
    /* Adjust this value to match your header's height */
}

section {
    padding: 0;
    margin: 0;
    height: 100vh;
    /* Full viewport height */
    box-sizing: border-box;
}


/*-------------------------------------NAV----------------------------------------------------------- */

.bottom-left-nav {
    position: fixed;
    bottom: -25px;
    left: 30px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-family: 'Satoshi';
    font-weight: bold;
    margin-bottom: 15px;
    list-style: none;
}

.bottom-left-nav,
a,
ul {
    padding: 5px;
    text-decoration: none;
    color: aliceblue;
    list-style: none;
    z-index: 10;
    transition: color 0.3s ease, opacity 0.3s ease;

}

.bottom-left-nav li {
    margin-top: 10px;
}


/*-------------------------------------FIRST SECTION----------------------------------------------------------- */

.firstsection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-family: "Satoshi";
    color: aliceblue;
    font-size: 200px;
}

.rectangle {
    top: 165px;
    height: 450px;
    width: 425px;
    /* background-color: #022ddc; */
    color: #022ddc;
    position: absolute;
    z-index: -10;
}


/*-------------------------------------SECOND SECTION----------------------------------------------------------- */

.secondsection {
    position: relative;
    background-color: #cacaca;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

}

/*-------------------------------------FIRST CONTAINER----------------------------------------------------------- */

.container {
    position: relative;
    border: aliceblue solid;
    border-width: 2px;
    height: 100%;
    width: 400px;
}

.container:hover {
    background-color: #6e5494;
    transition: background-color 0.5s ease;
}

.container:hover .containernumber {
    color: aliceblue;
    transition: color 0.3s ease,
}

.containertext {
    position: absolute;
    left: 41px;
    top: 300px;
    color: aliceblue;
    font-family: "Satoshi";
    font-size: 65px;
    position: relative;
}

.containertext::after {
    content: '';
    position: absolute;
    left: 10px;
    bottom: -10px;
    height: 4px;
    width: 0;
    background-color: aliceblue;
    transition: width 0.5s ease;
}

.containertext:hover::after {
    width: 100%;
}

.containernumber {
    position: absolute;
    left: 41px;
    top: 100px;
    color: #022ddc;
    font-family: "Satoshi";
    font-size: 65px;
}

/*-------------------------------------SECOND CONTAINER----------------------------------------------------------- */

.container1 {
    position: relative;
    border: aliceblue solid;
    border-width: 2px;
    height: 100%;
    width: 400px;
}

.container1:hover {
    background-color: #ff2b4f;
    transition: background-color 0.5s ease;
}

.container1:hover .containernumber1 {
    color: aliceblue;
    transition: color 0.3s ease,
}

.containertext1 {
    position: absolute;
    left: 41px;
    top: 300px;
    color: aliceblue;
    font-family: "Satoshi";
    font-size: 65px;
    position: relative;
}

.containertext1::after {
    content: '';
    position: absolute;
    left: 10px;
    bottom: -10px;
    height: 4px;
    width: 0;
    background-color: aliceblue;
    transition: width 0.5s ease;
}

.containertext1:hover::after {
    width: 100%;
}

.containernumber1 {
    position: absolute;
    left: 41px;
    top: 100px;
    color: #022ddc;
    font-family: "Satoshi";
    font-size: 65px;
}

/*-------------------------------------THIRD CONTAINER----------------------------------------------------------- */
.container2 {
    position: relative;
    border: aliceblue solid;
    border-width: 2px;
    height: 100%;
    width: 400px;
}

.container2:hover {
    background-color: #fb000f;
    transition: background-color 0.5s ease;
}

.container2:hover .containernumber2 {
    color: aliceblue;
    transition: color 0.3s ease,
}

.containertext2 {
    position: absolute;
    left: 41px;
    top: 300px;
    color: aliceblue;
    font-family: "Satoshi";
    font-size: 65px;
    position: relative;
}

.containertext2::after {
    content: '';
    position: absolute;
    left: 10px;
    bottom: -10px;
    height: 4px;
    width: 0;
    background-color: aliceblue;
    transition: width 0.5s ease;
}

.containertext2:hover::after {
    width: 100%;
}

.containernumber2 {
    position: absolute;
    left: 41px;
    top: 100px;
    color: #022ddc;
    font-family: "Satoshi";
    font-size: 65px;
}

/*-------------------------------------THIRD CONTAINER----------------------------------------------------------- */
.container3 {
    position: relative;
    border: aliceblue solid;
    border-width: 2px;
    height: 100%;
    width: 400px;
}

.container3:hover {
    background-color: #022ddc;
    transition: background-color 0.5s ease;
}

.container3:hover .containernumber3 {
    color: aliceblue;
    transition: color 0.3s ease,
}

.containertext3 {
    position: absolute;
    left: 41px;
    top: 300px;
    color: aliceblue;
    font-family: "Satoshi";
    font-size: 65px;
    position: relative;
}

.containertext3::after {
    content: '';
    position: absolute;
    left: 10px;
    bottom: -10px;
    height: 4px;
    width: 0;
    background-color: aliceblue;
    transition: width 0.5s ease;
}

.containertext3:hover::after {
    width: 100%;
}

.containernumber3 {
    position: absolute;
    left: 41px;
    top: 100px;
    color: #022ddc;
    font-family: "Satoshi";
    font-size: 65px;
}

/*-------------------------------------THIRD SECTION----------------------------------------------------------- */

.thirdsection {
    background-color: #022ddc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;

}

.bio {
    font-family: "Satoshi";
    color: aliceblue;
    position: absolute;
    font-size: 130px;
    top: -2rem;
    z-index: 2;
    left: 180px;

}

.recto {
    top: 100px;
    left: 910px;
    height: 600px;
    width: 420px;
    color: #cacaca;
    position: absolute;
    z-index: 1;
    /* background-image: url('/images/pogi.jpeg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; */
}

.tools {
    position: absolute;
    left: 395px;
    top: 555px;
}

.white-word {
    color: aliceblue;
}

.autobio {
    position: absolute;
    font-family: "Satoshi";
    color: aliceblue;
    position: absolute;
    font-size: 19px;
    top: 275px;
    z-index: 2;
    left: 230px;
    max-width: 650px;
    text-align: right;

}

.autobio1 {
    position: absolute;
    font-family: "Satoshi";
    color: aliceblue;
    position: absolute;
    font-size: 19px;
    top: 550px;
    z-index: 2;
    left: 645px;
    max-width: 650px;
    text-align: right;

}