html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #cacaca;
}

.firstsection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-family: "Satoshi";
    color: aliceblue;
    font-size: 200px;
}

.rectangle {
    top: 200px;
    height: 375px;
    width: 350px;
    background-color: #022ddc;
    color: #022ddc;
    position: absolute;
    z-index: -10;
}

.bottom-left-nav {
    position: fixed;
    bottom: -25px;
    left: 30px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-family: 'Satoshi';
    font-weight: bold;
    margin-bottom: 15px;
    list-style: none;
}

.bottom-left-nav, a, ul{
    padding: 5px;
    text-decoration: none;
    color: aliceblue;
    list-style: none;
    z-index: 10;
    transition: color 0.3s ease, opacity 0.3s ease;
}

.bottom-left-nav li{
    margin-top: 10px;
}

.secondsection {
    background-color: #022ddc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.thirdsection {
    background-color: #022ddc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.bio {
    font-family: "Satoshi";
    color: aliceblue;
    position: absolute;
    font-size: 148px;
    top: 0.1rem;
    z-index: 2;
}

.recto {
    top: 90px;
    left: 545px;
    height: 300px;
    width: 420px;
    background-color: #cacaca;
    color: #cacaca;
    position: absolute;
    z-index: 1;
}

.white-word {
    color: #022ddc;
}



@font-face {
    font-family: "Satoshi";
    src: url('../fonts/Satoshi-Bold.otf') format('opentype');
}